
body {
  background-image: url('../Imagenes/Low\ Poly.png');
  margin: 0; /* Asegurar que no haya espacios en blanco */
  padding: 0; /* Asegurar que no haya espacios en blanco */
}

/* Estilos de la cabecera */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #ffffff;
}

/* Logo de la cabecera */
.header-logo {
  width: 120px;
  margin-left: 20px; /* Ajustar el margen izquierdo */
}




/* Contenedor de interacciones */
.interactions-container {
  display: grid;
  grid-template-columns: 1fr; /* Cambia a una sola columna en pantallas pequeñas */
  gap: 20px; /* Reducir el espacio entre las tarjetas */
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

/* Sección de interacción */
.interaction-section {
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Contenedor de calificación */
.rating-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  overflow-x: auto; /* Habilitar el desplazamiento horizontal si los botones exceden el ancho del contenedor */
  overflow-y: hidden; /* Ocultar el desplazamiento vertical */
  white-space: nowrap; /* Evitar que los elementos se envuelvan en múltiples líneas */
}

/* Botón de calificación */
.rating-button {
  font-size: 1rem;
  background-color: #fff;
  cursor: pointer;
  margin: 10px; /* Espacio entre los botones */
  border: none;
  outline: none;
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Efecto hover para el botón de calificación */
.rating-button:hover {
  background-color: transparent;
  transform: scale(1.05);
}

/* Imagen dentro del botón de calificación */
.rating-button img {
  width: 80px;
  height: auto;
}

/* Texto dentro del botón de calificación */
.rating-button p {
  margin-top: 5px;
}

.card {
  border-radius: 10px;
  width: 110%; /* Ancho del 95% del contenedor padre */
  max-width: 600px; /* Ancho máximo */
  margin-top: -0px;
  margin-left: 30px;
}
/* Título de la tarjeta */
.card h2 {
  font-size: 1rem;
  margin-bottom: 15px;
  background-color: #0a581b;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin-top: 0;
}

/* Párrafo de la tarjeta */
.card p {
  font-size: 1rem;
  margin-bottom: 15px;
  font-family: cursive;
}

/* Carrusel */
.carousel {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

/* Imagen dentro del carrusel */
.carousel img {
  width: 300px;
  height: 410px;
  border-radius: 5px;
}


/* Botón de alerta */
div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
  border: 0;
  border-radius: 0.25em;
  background: initial;
  background-color: green;
  color: #fff;
  font-size: 1em;
}

/* Tarjeta 1 */
.card1 {
  background-color: #ffffff;
  border-radius: 10px;
  margin-left: -40px;
  
}

.card1 h2 {
  font-size: 1rem;
  margin-bottom: 15px;
  background-color: #0a581b;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin-top: -20px;
}

.card1 p {
  font-size: 1rem;
  margin-bottom: 15px;
  font-family: cursive;
}

/* Media query para pantallas más grandes */
@media screen and (min-width: 768px) {
  .interactions-container {
    grid-template-columns: repeat(2, 2fr); /* Cambia a dos columnas en pantallas más grandes */
    gap: 40px; /* Aumenta el espacio entre las tarjetas */
  }

  .header-logo {
    margin-left: 50px; /* Ajustar el margen izquierdo */
  }
}

/* Media query para pantallas más pequeñas */
@media screen and (max-width: 768px) {
  /* Cambiar la dirección de flexión a columna */
  .rating-container {
    flex-direction: column;
    align-items: center; /* Centrar los elementos */
  }
}

/* Media query para ajustar el tamaño en pantallas más pequeñas */
@media screen and (max-width: 768px) {
  .card1{
   margin-left: 20px;
  }
  .card {
    width: 95%; /* Reducir el ancho en pantallas más pequeñas */
  }

  .card img {
    width: 100%; /* Ajustar el ancho de la imagen al 100% del contenedor */
    height: auto; /* Mantener la relación de aspecto */
  }
}


/* Media query para pantallas entre 768px y 1000px */
@media screen and (min-width: 768px) and (max-width: 1000px) {
  .header {
    padding: 20px 30px; /* Ajustar el padding del encabezado */
  }

  .header-logo {
    width: 120px; /* Mantener el tamaño del logo */
    margin-left: 20px; /* Ajustar el margen izquierdo */
  }

  .interactions-container {
    grid-template-columns: repeat(2, 1fr); /* Cambiar a dos columnas */
    gap: 20px; /* Ajustar el espacio entre las tarjetas */
    max-width: 90%; /* Limitar el ancho del contenedor */
  }
}
